.center-loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra {
  width: 10px;
  height: 20px;
  background-color: rgb(85, 85, 85);
  animation-name: scalar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.b1 {
  animation-delay: 0s;
}

.b2 {
  animation-delay: 0.5s;
}

.b3 {
  animation-delay: 1s;
}

@keyframes scalar {
  from {
    transform: scaleY(1);
    background-color: rgb(46, 46, 46);
  }
  to {
    transform: scaleY(2);
  }
}
